* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

.navbar-list {
display: flex;
}


.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding: 80px 0 0 0;
}


.register h1 {
    color: #cbc9c9;
    text-align: center;
    padding: 0 0 10px 0;
}


form {

    min-width: 280px;
    height: 300px;
    padding: 15px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    background: #fafafa;
    border-radius: 5px;
    color: white;
}

input{
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 6px;
    margin-bottom: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.acuerdo {
    text-align: center;
    margin-bottom: 15px;
    font-size: 15px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    margin: 0 0 15px 0;
}

a {
    display: flex;
    justify-content: center;
    padding: 5px;
}

 @media (max-width: 576px) {


.navbar-list {
    display: flex;
}

.navbar .navbar-list a{
    display: flex;
}
}


@media (max-width: 990px) {

    form {
     top: 45%;
    }
 
    .navbar-list {
        background-color: #121212;
        position: absolute;
        top: 121px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        border-top: 0px;
        border-radius: 0px 0px 15px 15px;
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: flex;
    }

 .navbar-list {
     display: flex;
 }
 
 .navbar .navbar-list a{
     display: flex;
 }
 
 
 } 